body{
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100%;
    background-attachment: fixed;
    }

    /* Buttons Styles */
    .custom_btn{
        background-color:#349ED1;
        color:white;
        border-radius:10px;
        border:solid 1px #349ED1;
        font-size:0.9em;
    }
    .custom_btn:hover { 
        background-color: #A6E3FF;
        color:#226383;
        border-radius:10px;
        border:solid 1px #A6E3FF;
    }
    .section_name{
        color:black;
        height:2.5em;
        color:white;
        background-color:#226383;
        font-size:1.3em;
        padding-left:1em;
        padding-right:1em;
        margin-left:-0.7em;
        padding-top:0.5em;
        text-align:center;
        border-radius:15px 0px 15px 0px;
    }
    .subtitle_label{
        font-size:1em;
        color:#226383;
        font-weight: bold;
    }
    .input_label{
        font-size:0.9em;
        color:#226383;
    }
    .custom_input{
        border:1px solid #EEEEEE;
        font-size:80%;
        height:3em;
        margin-top:-0.2em;
    }
    select.custom_input option { color: black;color:#286887; }
    select.custom_input option:first-child{
        color:#B3B3B3;
    }
    .custom_input:focus {
        border:solid 1px #778E9C;
    }
    .square_btn{
        background-color:#FFFFFF;
        color:#226383;
        border-radius:5px;
        border:solid 1px #FFFFFF;
    }
    .square_btn:hover { 
        background-color: #A6E3FF;
        color:#226383;
        border-radius:5px;
        border:solid 1px #A6E3FF;
    }
    .normal_btn{
        background-color:#349ED1;
        border:solid 1px #349ED1;
        color:white;
    }
    .normal_btn:hover{
        background-color:#A6E3FF;
        border:solid 1px #A6E3FF;
        color:#226383;
    }
    .square_btn_grey{
        background-color:#F0F1F8;
        color:#226383;
        border-radius:5px;
        border:solid 1px #F0F1F8;
    }
    .square_btn_grey:hover { 
        background-color: #A6E3FF;
        color:#226383;
        border-radius:5px;
        border:solid 1px #A6E3FF;
    }

    textarea:hover, 
    input:hover, 
    select:hover,
    textarea:active, 
    input:active, 
    select:active,
    textarea:focus, 
    input:focus,
    select:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active{
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
    }

    .submit_btn{
        background-color:#349ED1;
        border-radius:5px;
        height:3em;
        margin-bottom:1em;
        font-size:1.2em;
    }
    .submit_btn:hover {
        background-color:#A6E3FF;
        border:solid 1px #A6E3FF;
        border-radius:5px;
        height:3em;
        margin-bottom:1em;
        font-size:1.2em;
        color:#226383;
    }

    /*Estilos-pago*/

    .contenedorPago{
        border-radius: 25px;                  /* Primer formato */
    }

    .class1{
        background-color:rgb(34,99,131);
        color:white;
        padding:1em;
    }

    .class2{
        background-color:white;
        padding: 1.5em;
        /*border-color:rgb(34,99,131);
        border-width: 9px;*/
    }